<div class="rounded-lg border border-gray-200 bg-white p-5">

  <h2 class="mb-4 text-lg font-semibold">
    Customers &amp; Invoices
  </h2>

  <div class="mb-4 h-48 overflow-y-auto rounded-lg border border-gray-200">

    <table class="w-full">
      <tbody>

        {% for cd in order.customers.all %}
        <tr class="border-b last:border-b-0">
          <td class="px-4 py-3 font-medium">
            {{ cd.customer }}
          </td>

          <td class="px-4 py-3 text-right">
            <span class="rounded bg-gray-100 px-3 py-1 text-sm font-medium text-gray-700">
              INV {{ cd.invoice_no }}
            </span>
          </td>

          <td class="px-4 py-3 text-right">
            <div class="flex justify-end gap-2">
              <form method="post" action="{% url 'manage_transactions_for_customer' order.id cd.id %}" id="manage-transactions-form-{{ cd.id }}">
                {% csrf_token %}
                <button type="submit" id="manage-transactions-btn-{{ cd.id }}"
                  class="rounded cursor-pointer bg-blue-600 px-3 py-1 text-sm text-white hover:bg-blue-700">
                  Manage
                </button>
              </form>
              <form method="post" action="{% url 'customer_delete' order.id cd.id %}" id="customer-delete-form-{{ cd.id }}">
                {% csrf_token %}
                <button type="submit" id="customer-delete-btn-{{ cd.id }}" onclick="return confirm('Delete this invoice?')"
                  class="rounded cursor-pointer bg-red-500 px-3 py-1 text-sm text-white hover:bg-red-600">
                  Delete
                </button>
              </form>
            </div>
          </td>
        </tr>

        {% empty %}
        <tr>
          <td colspan="2" class="px-4 py-6 text-center text-sm text-gray-500">
            No customers added yet.
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

  </div>

  <form method="post" action="{% url 'add_customer' order.id %}" class="space-y-3">
    {% csrf_token %}

    <div>
        <div id="customer-select" class="w-full m-1">
          {{ customer_form.customer }}
          {{ customer_form.customer.errors }}
      </div>

      <input
          type="text"
          name="search"
          placeholder="Search customer..."
          class="m-1 w-full rounded-lg border border-gray-300 px-4 py-2"

          hx-get="{% url 'customer_search' order.id %}"
          hx-trigger="keyup changed delay:300ms"
          hx-target="#customer-select"
          hx-swap="innerHTML"
      >
    </div>

    <div class="w-full m-1">
      {{ customer_form.invoice_no }}
      {{ customer_form.invoice_no.errors }}
    </div>

    <button type="submit"
      class="w-full m-2 cursor-pointer rounded-lg bg-blue-600 px-4 py-2 font-medium text-white hover:bg-blue-700">
      + Add Customer
    </button>
  </form>