<div class="space-y-4">

  <div>
    <label class="block mb-2 font-medium">
      Product Code
    </label>
    {{ form.product_code }}
    {{ form.product_code.errors }}
  </div>

  <div>
    <label class="block mb-2 font-medium">
      Product Name
    </label>
    {{ form.product_name }}
    {{ form.product_name.errors }}
  </div>

  <div>
    <label class="block mb-2 font-medium">
      Factory Price
    </label>
    {{ form.factory_price }}
    {{ form.factory_price.errors }}
  </div>

  <div>
    <label class="block mb-2 font-medium">
      Shelf Life
    </label>
    {{ form.shelf_life }}
    {{ form.shelf_life.errors }}
  </div>

  <div>
    <label class="block mb-2 font-medium">
      Product Packaging
    </label>
    {{ form.product_packaging }}
    {{ form.product_packaging.errors }}
  </div>

</div>