{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_css %}
  <link rel="stylesheet" href="{% static 'css/dot_matrix_print.css' %}" media="print">
  {% block title %}
  <title>Django App</title>
  {% endblock title %}
</head>

<body class="bg-gray-50">
  {% include 'components/global_header.html' %}
  {% include 'components/messages.html' %}
  <main class="mx-auto max-w-7xl p-6">
    {% block content %}
    {% endblock content %}
  </main>

</body>

</html>