<div class="space-y-4">

  <div>
    <label class="block mb-2 font-medium">
      Control Number
    </label>
    {{ form.control_no }}
    {{ form.control_no.errors }}
  </div>

  <div>
    <label class="block mb-2 font-medium">
      Agent
    </label>
    {{ form.agent }}
    {{ form.agent.errors }}
  </div>

  <div>
    <label class="block mb-2 font-medium">
      Area
    </label>
    {{ form.area }}
    {{ form.area.errors }}
  </div>

  <div>
    <label class="block mb-2 font-medium">
      Van Number
    </label>
    {{ form.van_number }}
    {{ form.van_number.errors }}
  </div>

</div>