{% extends "base.html" %}

{% block content %}

<div class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold">
    Order #{{ order.control_no }}
  </h1>

  <a href="{% url 'order_list' %}" class="p-2 rounded font-bold text-white bg-blue-600 hover:bg-blue-700">
    Back to Orders
  </a>
</div>


<div class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-2">
  {% include "orders/components/details/order_summary.html" %}
  {% include "orders/components/details/order_customers.html" %}
</div>
{% include "orders/components/details/order_marketing.html" %}

{% endblock %}