{% extends "base.html" %}
{% block content %}
<div class="flex justify-between items-center mb-4 mt-2">
  <div>
    <h1 class="text-2xl font-bold">
      Manage Delivery
    </h1>
    <h2 class="mt-1 text-sm font-bold text-gray-500">
      Order #{{ order.control_no }}
      &middot;
      Agent: {{ order.agent }}
      &middot;
      Area: {{ order.area }}
    </h2>
  </div>
  <a href="{% url 'order_detail' order.id %}" class="p-2 rounded font-bold text-white bg-blue-600 hover:bg-blue-700">
    &larr; Back to Order #{{ order.control_no }}
  </a>
</div>
{% include "orders/components/delivery/delivery_form_static.html" %}
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
  {% include "orders/components/delivery/delivery_form.html" %}
  {% include "orders/components/delivery/delivery_list.html" %}
</div>
{% include "orders/components/delivery/delivery_total.html" %}

<script>
  document.getElementById('order-type-select').addEventListener('change', function () {
    document.querySelector('input[name="order_type"]').value = this.value;
  });
</script>

{% endblock %}